node_modules
dist
out
.vite/

.DS_Store
.eslintcache
*.log*
auth-server-test.*

.env
.env.*
!.env.example

.idea/
node_modules/
out/
dist/
build/
.vite/
models/
__pycache__/
*.log
.env
*.onnx
*.bin
*.pth
*.pt
node_modules/
out/
dist/
build/
*.log
.env
credentials.json
gmail_token.json
.auth-store.json

eng.traineddata

versions
versions.json
versions.js
versions.js
